{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="nav">
        <div class="navItems">
          <ul>
            <li class="{% if request.path == '/' %}active{% endif %} ">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="{% if request.path == '/about-us/' %}active{% endif %} ">
              <a href="{% url 'about' %}">About Us</a>
            </li>
            <li class="{% if request.path == '/contact/' %}active{% endif %} ">
              <a href="{% url 'contact' %}">Contact Us</a>
            </li>
            <li class="{% if request.path == '/services/' %}active{% endif %} ">
              <a href="/Services">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{ request.path }}
  </body>
</html>
